// FONTS
@import url("http://fonts.googleapis.com/css?family=Roboto:400,900,100");
$font: "Roboto";
// IMAGES
$bodybg: url("../images/bg.gif") #FFF repeat-x;
$figbg: url("../images/logo.png") no-repeat 0 50px;
$headImg: url("../images/devices.png");
$prospect: url("../images/vprospect.png");
$convert: url("../images/vconvert.png");
$social: url("../images/social-media.png");

// COLORS

$navA: #E65C43;
$navHover: #FFF;

$head1: #E65C43;
$head2: #FFF;
$head3: #666;

$contentbg: #F25C43;
$greybar: #F5F6F6;
$footer: #30353D;
